{{ form_start(form) }}
<div class="form-group">
{{form_row(form.email)}}
</div>
<div class="form-check">
{{ form_row(form.roles) }}
</div>
    {{ form_widget(form) }} 
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
