{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="container m-4">
		<h3 class="text-center">Gestion des utilisateurs</h3>
		<a class="btn btn-primary" href="{{ path('user_new') }}">
			<i class="fas fa-user-plus"></i>
		</a>
		<table class="table table-striped mt-4">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Email</th>
					<th scope="col">Roles</th>

					<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>
							{% for role in user.roles %}
								{% if role =='ROLE_USER' %}
									<span class="badge bagde-secondary">utilisateur</span>
								{% elseif role =='ROLE_ADMIN' %}
									<span class="badge bagde-success">administrateur</span>
								{% elseif role =='ROLE_CM' %}
									<span class="badge bagde-primary">community manager</span>
								{% elseif role =='ROLE_CLIENT' %}
									<span class="badge bagde-dark">Client</span>
								{% endif %}
							{% endfor %}

							{# {{ user.roles ? user.roles|json_encode : '' }} #}
							{# {{dump(user.roles)}} #}


						</td>

						<td>
							<a href="{{ path('user_show', {'id': user.id}) }}">
								<i class="far fa-eye"></i>
							</a>
							<a href="{{ path('user_edit', {'id': user.id}) }}">
								<i class="fas fa-user-edit"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucun utilisateur enregistrer</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('user_new') }}">
			<i class="fas fa-user-plus"></i>
		</a>
	</div>
{% endblock %}
